
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/allure-report/
/allure-results/
package-lock.json
.tool-versions
local.log
launch.json
events.json
sdk-cli.log
sdk-debug-utility.log
usage.log
modified-key-metrics.json
performance-report-42268-0.json